* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.section1 {
    height: 100vh;
    background-color: rgb(84,154,171);
}

.section2 {
    height: 100vh;
    background-color: rgb(241,128,45);
    display: grid;
    grid-template-columns: 50% auto;
    place-items: center;

}



